@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: Damione;
  src: url(../public/DaMiOne-Regular.ttf);
}

body {
  font-family: 'Montserrat';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.custom-header-bg{
  background-color: rgba(212, 225, 255, 0.25);
}

.pres-bg{
  background-image: url("../public/images/cs2bg1.png");
  background-repeat: no-repeat;
  background-position: center;
}
.bg-lined{
  background-image: url("../public/images/Line.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
