@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face  {
  font-family: 'Damione', sans-serif;
  src: url(../public/DaMiOne-Regular.ttf);
}

.pres-bg-2{
  background-image: url(../public/images/Counter-Strike_2_-_Background_pixian_ai\ \(1\)\ 1.svg);
  background-repeat: no-repeat;
 background-position: right bottom;
}

body {
  /* max-width: 1920px; */
  font-family: 'Montserrat' , sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #3773FF;
  border-radius: 20px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.custom-header-bg{
  background-color: rgba(212, 225, 255, 0.25);
}

.pres-bg{
  background-image: url("../public/images/cs2bg1.png");
  background-repeat: no-repeat;
  background-position: center;
}
.bg-lined{
  background-image: url("../public/images/Line.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
.no-scroll{
  overflow: hidden;
}
